<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
    <h1 class="display-4">GUITAR BLOG</h1>
    <p class="lead">For all things guitar related!</p>
    <hr class="my-4">
    <p>Gear talk, tech talk, etc...</p>
    
    <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
