<div>
    <div class="jumbotron text-right text-white">
    <h1 class="display-4">GUITAR BLOG</h1>
    <p class="lead">For all things guitar related!</p>
   
    <p>Gear talk, tech talk, etc...</p>
    
    <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>
